====================You have successfully submitted your assessment. ==========================

your email address is:
<%= @submission.email %>.

<p> Name: <%= @submission.full_name %></p>
<p>Github Repo:<%= @submission.project_repo %></p>
<p>Project URL:<%= @submission.project_url %></p>

<p> Assessment(out of 50 possible points):</p>
<p>Best Practices for OOP score: <%= @submission.using_best_practices_for_oop %></p>
<p>Modular Development score: <%= @submission.modular_development %></p>
<p>Full Stack Workflow understanding score:<%= @submission.full_stack_workflow_understanding %></p>
<p>Testing score: <%= @submission.testing %></p>
<p>Database Knowledge score: <%= @submission.database_knowledge %></p>
<p>Debugging score: <%= @submission.debugging %></p>
<p>Problem Solving Skills score:<%= @submission.problem_solving_skills %></p>
<p>JavaScript score:<%= @submission.javascript %></p>
<p>HTML score:<%= @submission.html %></p>
<p>CSS score:<%= @submission.css %></p>
<p>Working on a Team score:<%= @submission.working_on_a_team %></p>
<p>Self Motivation score:<%= @submission.self_motivation %></p>
<p>Communication Skills score:<%= @submission.communication_skills%></p>
<p>Your Own Energy Level score:<%= @submission.your_own_energy_level %></p>
<p>Intelligence/Aptitude score:<%= @submission.intelligence_aptitude %></p>
