
<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <p>You have successfully submitted an assessment!</p>

    <p> Name: <%= @submission.full_name %></p>
    <p>Github Repo: <%= @submission.project_repo %></p>
    <p>Project URL: <%= @submission.project_url %></p>

    <p> Assessment <small>out of 50 possible points</small>:</p>
    <p>Best Practices for OOP score: <%= @submission.using_best_practices_for_oop %></p>
    <p>Modular Development score: <%= @submission.modular_development %></p>
    <p>Full Stack Workflow understanding score:<%= @submission.full_stack_workflow_understanding %></p>
    <p>Testing score: <%= @submission.testing %></p>
    <p>Database Knowledge score: <%= @submission.database_knowledge %></p>
    <p>Debugging score: <%= @submission.debugging %></p>
    <p>Problem Solving Skills score:<%= @submission.problem_solving_skills %></p>
    <p>JavaScript score:<%= @submission.javascript %></p>
    <p>HTML score:<%= @submission.html %></p>
    <p>CSS score:<%= @submission.css %></p>
    <p>Working on a Team score:<%= @submission.working_on_a_team %></p>
    <p>Self Motivation score:<%= @submission.self_motivation %></p>
    <p>Communication Skills score:<%= @submission.communication_skills%></p>
    <p>Your Own Energy Level score:<%= @submission.your_own_energy_level %></p>
    <p>Intelligence/Aptitude score:<%= @submission.intelligence_aptitude %></p>

  </body>
